body {
        line-height: 1;
      }

      * {
        margin: 0 auto;
        padding: 0;
        vertical-align: baseline;
        border: 0;
        text-decoration: none;
        font-family: 'Jeju Gothic', sans-serif;
      }

      #wrap {
        position: relative;
        width: 100%;
      }
        div {
          display: block;
        }
       .icon{
         display: block;
         width: 45px;
         height: 45px;
         margin-top: 40px;
       }
        .info {
          border: 1px solid #ddd;
          border-radius: 3px;
          box-sizing: border-box;
          max-width: 570px;
          margin: 0 auto 30px;
          position: relative;
        }
       /* .input{
         border: 1px solid #ddd;
         border-radius: 7px 7px 7px 7px;
         width: 250px;
         height: 30px;
         font-size: 15px;
         margin-bottom: 10px;
         padding-left: 10px;
       } */

       .input {
         /* border: 1px solid #ddd;*/
         /*border-radius: 3px;*/
         box-sizing: border-box;
         display: inline-block
         /* margin-top: 10px; */
         max-width: 530px;
         /* outline: none; */
         padding: 10px;
         /*width: 100%;*/
         margin-bottom: 35px;
         text-align: center;
         font-size: 15px;

       }
       .input2 {
        border: 1px solid #ddd;
        border-radius: 3px;
        box-sizing: border-box;
        display: block;
        
        max-width: 530px;
        /* outline: none; */
        padding: 15px;
        width: 100%;
        
        margin-top: 20px;
        margin-bottom: 20px;

       }

       .id_wrap {
         background: #fff;
         border-bottom: 1px solid #ddd;
         padding: 20px 20px;
         position: relative;
         text-align: center;
       }

        .j_title {
          display: block;
          font-size: 30px;
          font-weight: normal;
          margin-bottom: 30px;
          margin-top: 30px;

        }

        .top {
          background-color : rgb(241,188,213);
          height : 100px;
          position : fixed;
          width : 100%;
          z-index: 99;
        }
        .container {
          width : 100%;

        }

        .main {
          max-width: 570px;
          margin: 0 auto;
          padding: 100px 0 50px;
        }

        .button{
          width: 75px;
          height: 30px;
         display: block;
         border-bottom: 1px;
         position: relative;
         border-radius: 3px;
         text-align: center;
         border-bottom: 30px;
         margin-top: 10px;
        }