	/* eventPage.jsp */
	body{
		margin-top: 100px;
		font-family: 'Trebuchet MS', serif;
		line-height: 1.6
	}
	
	#eWrap {
	    padding-top: 140px;
	}
	
	.container {
		width: 1200px;
		margin: 0 auto;	
	}
	
	ul.tabs{
		margin: 0px;
		padding: 0px;
		list-style: none;
	}
	ul.tabs li{
		background: none;
	 	width: 47.8%;
	 	font-size: 16px;
		color: #222;
		display: inline-block;
		padding: 10px;
		cursor: pointer;
	}
	
	ul.tabs li.current a {
 		border-bottom:4px solid pink;
	}
	
	.tab-content{
		display: none;
		padding-top: 20px;
	}
	
	.tab-content.current{
		display: inherit;
	}
	
	/* eventList.jsp */
	/* 이벤트 List 전체 div*/
	#eventListDiv {
		padding-left:140px;
	}
	
	/* 이벤트 카드 하나하나의 div */
	#eventDiv {
		height: 400px;
		float: left;
		padding: 20px 20px 20px 0;
	}
	
	table #eventTable {
		border: 1px solid gray;
	}
	
	#eventTable td {
		padding: 5px;
		width: 220px;
	}
	
	#eventImg {
		height: 220px;
		background-color: pink;
		opacity: .5;
	}
	
	#eventTitle {
		font-weight: bold;
		font-size: 17px;
	}
	
	#eventDate {
		font-size: 12px;
	}
	
	#eventContent{
		border-top: 1px solid gray;
	}