	#calWrap {
		padding-top: 180px;
	}
	#eventListwrap {
		padding-top: 230px;
		padding-bottom: 70px;
		position: relative;
	}
	
	.container {
		width: 1400px;
		margin: 0 auto;
	}

	/* eventList.jsp */	
	.eContainer {
		width: 1100px;
		padding-left: 200px;
	}
	
	#frEventTab {
		margin-left: -170px;
	}
	
	/* 이벤트별 브랜드 드롭다운*/
	.dropdown {
	position: relative;
	display: inline-block;
	}
	
	/* 브랜드 선택 */
	.eventB_menu {
    font-size: 18px;
    margin-left: -980px;
    cursor: pointer;
	}
	
	.eventB_menu:hover {
 	color: pink;
	}
	
	.event_dropdown {
    display: none;
    position: absolute;
    background: white;
    min-width: 170px;
    z-index: 1;
    margin-left: -570px;
    margin-top: -20px;
    padding-top: 10px;
    padding-bottom: 15px;
    height: 150px;
    overflow-y: scroll;
    opacity: 0.9;
	}
	
	.event_dropdown a {
	color: black;
    padding: 12px 0px;
    text-decoration: none;
    position: relative;
    left: -5px;
    display: block;
    text-align: center;
	}
	
	.event_dropdown a:hover {
	color: pink;
	}
	
	.dropdown:hover .event_dropdown {
	display: block;
	}

	#eventDiv {
		float: left;
		padding-right: 40px;
		padding-bottom: 40px;
	}
	
	table #eventTable {
		border: 1px solid gray;
	}
	
	#eventTable td {
		padding: 5px;
		width: 250px;
	}
	
	#eventImg {
		height: 250px;
		background-color: pink;
	}
	
	#eventTitle {
		font-weight: bold;
		font-size: 17px;
		height: 60px;
	}
	
	#eventDate {
		font-size: 12px;
	}
	
	#eventContent{
		height: 50px;
		border-top: 1px solid gray;
	}
	
	#eventFooter {
		bottom: 0;
	}