	#menu_wrap {
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	width:300px;
	height:500px;
 	margin:50px 0 0 50px;
	padding:5px;
	background:rgba(255, 255, 255, 0.8);
	z-index: 1;
	}

	.MapsearchInput {
    width: 200px;
    padding: 10px;
    border: 0px;
    outline: none;
    float: left;
    font-size: 15px;
    height: 20px;
	}

	/* map을 출력하는 div 스타일 */
	#map{ width:1200px;height:600px; }
	
	#mapBSearchResult td #addr_css {
	font-size:10px;
	}

	#mapFSearchResult td #addr_css {
	font-size:10px;
	}

	/* 탭 메뉴 */
	.container{
	width: 300px;
	height: 100%;
	font-size:14px;
	}

	ul.tabs{
	padding: 0px;
	list-style: none;
	}
	
	ul.tabs li{
	width: 147px;
	height: 30px;
	background: none;
	display: inline-block;
	cursor: pointer;
	}

	 ul.tabs li.current{
	border-bottom:3px solid #F1BCD5;
	}

	.tab-content{
	display: none;
	}

	.tab-content.current{
	display: inherit;
	}

	div .tab_content_css {
	overflow-y: auto;
	overflow-x: hidden;
	height:370px;
	}

	.tab_table {
	width: 260px;
	margin: 15px 5px 15px 5px;
	}

	.searchMap {
	font-size: 14px;
    width: 240px;
    background: #ffffff;
    margin-left: 5px;
    height: 43px;
    border: solid 1px lightgray;
    border-radius: 3px;
    background: #ffffff;
    float: left;
	}

	.searchMapBtn {
	width: 50px;
    height: 45px;
    border: 0px;
    outline: none;
    float: left;
    color: #ffffff;
    background-color: pink;
    border-radius: 3px;
    cursor: pointer;
	}