
	.productList p {
	  display: block;
	  margin-block-start: 1em;
	  margin-block-end: 1em;
	  margin-inline-start: 0px;
	  margin-inline-end: 0px;
	  margin-left: 15px;
	  font-size: 18px;
	}
	
	.container {
	  width : 100%;
	}

	.plist {
		float: left;
	    width: 25%;
	    height: 380px;
	    padding: 0 20px;
	    box-sizing: border-box;
		text-align: center;
	}
	
	.frwrap {
		float: left;
	    width: 25%;
	    height: 380px;
	    padding: 0 20px;
	    box-sizing: border-box;
	    text-align: center;
	}