	.productList p {
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-size: 18px;
	}
	
	.productList .frkname {
	padding: 5px;
	}
	
	.container {
	width : 100%;
	}

	.plist {
	float: left;
    width: 25%;
    height: 380px;
    padding: 0 20px;
    box-sizing: border-box;
	text-align: center;
	}
	
	.mdwrap {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	margin-top: -13px;
	}
	
	.modify {
	color: white;
    opacity: 0.5;
    cursor: pointer;
    background: blue;
    padding: 5px;
    width: 50px;
    float: left;
    border-radius: 3px;
	}
	
	.delete {
	color: white;
    opacity: 0.5;
    cursor: pointer;
    background: red;
    padding: 5px;
    width: 50px;
    float: left;
    margin-left: 1em;
    border-radius: 3px;
	}
	
	.frwrap {
	float: left;
    width: 25%;
    height: 350px;
    padding: 0 40px;
	box-sizing: content-box;
    text-align: center;
	}
	
	.buttonStyle {
	cursor: pointer;
    background-color: white;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 10px;
	}