	.pagination {
		margin: 0 auto;
	}
	
	.page {
		align-content: center;
	}

	/* 페이징 */
	.pagingWrap {
    clear: both;
    margin: 90px;
    position: relative;
    top: 50px;
	}
	
	#paging_num {
		font-size:15px;
		margin-left: 2em;
	}
	
	.npn_img {
		margin-bottom:-10px;
	}
	
	#paging_numClick {
		font-size:15px;
		cursor:pointer;
		color:#D1B894;
		margin-left: 2em;
	}
	
	.input_box input {
	border: 1px solid #ddd;
	border-radius: 3px;
	box-sizing: border-box;
	display: inline-block;
	max-width: 530px;
	padding: 15px;
	width: 100%;
	}
	
	.productList {
	clear: both;
	}
	
	.productList p {
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	}
	
	.container {
	width : 100%;
	}

	.plist {
    float: left;
    width: 25%;
    height: 500px;
    text-align: center;
    margin: 2em;
	}
	
	.plist img {
    padding: 10px;
	}
	
	.modify {
	color: white;
    opacity: 0.5;
    cursor: pointer;
    background: blue;
    padding: 5px;
    width: 50px;
    float: left;
    border-radius: 3px;
	}
	
	.delete {
	color: white;
    opacity: 0.5;
    cursor: pointer;
    background: red;
    padding: 5px;
    width: 50px;
    float: left;
    margin-left: 1em;
    border-radius: 3px;
	}
	
	.mdwrap {
    position: relative;
    top: 30px;
    display: -webkit-inline-box;
	}
	
	#more_btn {
    border: 1px solid lightgray;
    border-radius: 20px;
    padding: 10px 40px;
    position: relative;
    font-size: 20px;
    top: 50px;
	}
	
	.more {
    margin: 90px;
    clear: both;
    height: 100%;
	}
	
	.services .icon-box {
    width: 260px;
    height: 500px;
    padding: 20px;
    position: relative;
    overflow: hidden;
    margin: 0 0 40px 0;
    background: #fff;
    box-shadow: 0 5px 26px 0 rgba(68, 88, 144, 0.14);
    transition: all 0.3s ease-in-out;
    text-align: center;
    border: 1px solid #fff;
	}
	
	.count {
	font-size: 20px;	
	}
	
	.hashtagsplit {
    color: gray;
    margin: 0 auto;
    position: relative;
    top: 20px;
    font-size: 14px;
    line-height: 1.8;
	}
	
	.menu_css a {
    line-height: 3;
    border: 1px solid lightgray;
    border-radius: 20px;
    padding: 10px;
	}

	.buttonStyle {
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 10px;
	}
	
	.lbutton{
	position: relative;
   	left: 70px;
	}

	.limg{
	width: 10%;
	}

	.namelist{
	position: relative;
   	top: 5px;
	}
	
	.fname{
	position: relative;
   	top: -10px;
	}

	.brandHomebutton {
	width:80px;
	height:45px;
	left: 90px;
	cursor:pointer;
	background-color:white;
	border-radius:5px;
	border:1px solid silver;
	position: fixed;
	}
	
	/* 메뉴 */
	#topMenu  {
		height: 30px;
		width: 850px; 
		margin: 30px 0;
	}
	
	#topMenu  ul li {
	background: rgb(51 38 2 / 70%);
    list-style: none;
    float: left;
    line-height: 45px;
    vertical-align: middle;
    text-align: center;
    }
    
    #topMenu  .menuLink {        
    color: white;   
	text-decoration: none;
    display: block;
    width: 150px;
    font-size: 15px;
    border-right: 1px solid gray;
    }
    
    #topMenu  .menuLink:hover {     
	background: white;      
	color: black;    
	transition:background .5s ease;
	-webkit-transition:background .5s ease;
	border: 0;
    }
    
    /* 서브 메뉴 */
	#SubMenu  {
		height: 30px;
		width: 850px; 
		margin: 30px 0;
	}
	
	#SubMenu  ul li {
	background: rgb(179 153 83 / 70%);
    list-style: none;
    float: left;
    line-height: 45px;
    vertical-align: middle;
    text-align: center;
    }
    
    #SubMenu  .menuLink {           
	color: white;
	text-decoration: none;
    display: block;
    width: 150px;
    font-size: 15px;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    }
    
    #SubMenu  .menuLink:hover {
    background: white;           
    color: black;   
	transition:background .5s ease;
	-webkit-transition:background .5s ease;
	border: 0;
    }