
	.productList p {
	  display: block;
	  margin-block-start: 1em;
	  margin-block-end: 1em;
	  margin-inline-start: 0px;
	  margin-inline-end: 0px;
	}
	
	.container {
	  width : 100%;
	}

	.plist {
		float: left;
	    width: 25%;
	    height: 380px;
	    padding: 0 20px;
	    box-sizing: border-box;
		text-align: center;
	}
	
	.plist p {
		margin: 8px 0px 8px 0px;
	}
	
	.hashtag {
		color : gray;
	}
	
	.menu_css {

	}
	
	.menu_css a {
		margin-right: 5em;
	}