<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="daldal.mappers.calendarMapper">

<select id="selectList" resultType="vo.CalendarVO">
	select 	b.calseq as calseq,
			b.caltitle as caltitle,
			b.calcontent as calcontent,
			b.start_date as start_date,
			b.end_date as end_date,
			b.editurl as editurl,
			a.frkname as frkname,
			'ADMIN' as username,
			a.frcolor as frcolor,
			'#ffffff' as textColor,
			'false' as allday
	from franchise a, tb_calendar b 
	where a.frcode = b.frcode
</select>

<select id="listCount" resultType="int">
	select 	count(*)
	from franchise a, tb_calendar b 
	where a.frcode = b.frcode
</select>

<select id="CalendarView" resultType="vo.CalendarVO">
	SELECT * FROM tb_calendar WHERE calseq = #{calseq};
</select>

<select id="selectDetail" resultType="vo.CalendarVO">
	SELECT * FROM tb_calendar WHERE id=#{id}
</select>

<insert id="insertCalendar" >
	INSERT INTO tb_calendar(id, caltitle, calcontent, start_date, end_date, frcode, editurl) 
	VALUES('DalDal', #{caltitle}, #{calcontent}, #{start_date}, #{end_date}, #{frcode}, #{editurl})
</insert>

<update id="updateCalendar">
	UPDATE tb_calendar SET editurl=#{editurl}, start_date=#{start_date}, end_date=#{end_date}, caltitle=#{caltitle}, calcontent=#{calcontent}, frcode=#{frcode}
	WHERE calseq=#{calseq}
</update>

<delete id="deleteCalendar">
	DELETE FROM tb_calendar WHERE calseq=#{calseq}
</delete>

</mapper>