<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<mapper namespace="daldal.mappers.franchiseMapper">
	
	<select id = "fdetail" resultType="vo.FranchiseVO">
		select * from product where frcode = #{frcode}
	</select>
	
	<insert id="insert">
		INSERT INTO franchise 
		(frcode, frename, frkname, frcolor, fruploadfile)
		VALUES 
		(#{frcode}, #{frename}, #{frkname}, #{frcolor}, #{fruploadfile})
	</insert>
	
	<select id="selectList" resultType="vo.FranchiseVO">
		SELECT * FROM franchise ORDER BY frcode
	</select>

	<select id="selectOne" resultType="vo.FranchiseVO">
		SELECT frkname FROM franchise ORDER BY frcode
	</select>
	
	<!-- <select id="fsortList" resultType="vo.ProductVO">
		SELECT * FROM franchise f 
		JOIN product p ON f.frcode = p.frcode 
		WHERE f.frcode = #{frcode} 
		ORDER BY f.frcode ASC, p.pdseq ASC
	</select> -->
	
	<select id="fsortCount" resultType="int">
		SELECT COUNT(*) FROM franchise f 
		JOIN product p ON f.frcode = p.frcode 
		WHERE f.frcode = #{frcode} 
		ORDER BY f.frcode ASC, p.pdseq ASC
	</select>
	
	<select id = "franchiseMenu" resultType="vo.ProductVO">
		SELECT DISTINCT p.mname, mkname, f.frcode FROM franchise f 
		JOIN product p ON f.frcode = p.frcode 
		WHERE f.frcode = #{frcode} 
		ORDER BY f.frcode ASC, p.pdseq ASC
	</select>
	
	<select id = "franchiseSubMenu" resultType="vo.ProductVO">
		SELECT * FROM franchise f 
		JOIN product p ON f.frcode = p.frcode 
		WHERE p.mname = #{mname} AND p.frcode = #{frcode} 
		ORDER BY f.frcode ASC, p.pdseq ASC
	</select>
	
	<select id = "franchiseSubCount" resultType="int">
		SELECT COUNT(*) FROM franchise f 
		JOIN product p ON f.frcode = p.frcode 
		WHERE p.mname = #{mname} AND p.frcode = #{frcode} 
		ORDER BY f.frcode ASC, p.pdseq ASC
	</select>
</mapper>